---
import Head from 'layout:head';
import AutoLay from 'layout:default';
import Button from "ui:button";
---

<html lang="en">
	<head>
		<Head title="Frontier | Home" description=""/>
	</head>
	<body>
		<AutoLay>
            <div class="p20 fw4 †c">
                <img src="/icons/frontier.svg" width="120px" height="120px" alt="Frontier" class="m20 p-rel"/>
                <span class="fw1" style="font-size:4em">404</span> <br/>
                &macr;\_(ツ)_/&macr;
                <p style="font-size:1.25rem;padding-top:2rem;">
                    <Button
                        data={{ text: "Go Home", level: 1 }}
                        href="/"
                        client:load
                    />
                </p>
            </div>
		</AutoLay>
	</body>
</html>

<style>
div{
    width: calc(100% - 40px);
    font-size:2em;
}
img{
    top: 1.75rem;
}
</style>