---
import Head from 'layout:head';
import AutoLay from 'layout:default';
---

<html lang="en">
	<head>
		<Head title="Frontier | Home" description=""/>
		<style>
		body{
			font-weight: 300;
			line-height:1.5em;
		}
		</style>
	</head>
	<body>
		<AutoLay>
			<div class="row justify-content-between">
				<p> This is just a compilation of me writing down all the data I accumulate over time. The amount of information I receive per day is too high to just remember. This will also help me refine my data sources and topics over time</p>

				<p>I will also not cite most things or mention the source so should you choose to use the data look it up yourself. Frontier is not made for public use and is for me only, it just happens to be more convenient to me if it is publicly hosted. So if you get in trouble for any data you use from here, it is YOUR problem and yours only, I take no responsibility.</p>

				<h4>Disclaimers</h4>

				<ul>
					<li>I don't update the data over time it is possible it gets outdated</li>
					<li>I also don't double fact check the source, it is possible data is false/inaccurate/outdated/misconstrued</li>
				</ul>

				<p>It is possible that you don't agree with something in my notes, in which case. I don't care. As mentioned before, It's not meant for you.</p>

				<h3>Note: </h3>
				<p>This is NOT a blog. Being a blog implies original content. This is not original, most of the stuff here is ripped off. These are notes meant to organise my information.</div>

				<p>If any images or video is owned by/licensed to you and you want it to be taken down or have the credit included please let me know I'll do it, with NO EXCEPTIONS. </p>
			</div>
		</AutoLay>
	</body>
</html>