---
import Head from 'layout:head';
import AutoLay from 'layout:default';
---

<html lang="en">
	<head>
		<Head title="Frontier | Home" description=""/>
	</head>
	<body>
		<AutoLay>
		    ABOUT HERE
		</AutoLay>
	</body>
</html>