---
import Head from 'layout:head';
import AutoLay from 'layout:default';

import Card from 'component:card';

import {process} from 'lib';

const all_posts = process.url(Astro.fetchContent('./**/*.md'))
---

<html lang="en">
	<head>
		<Head title="Frontier | Home" description=""/>
	</head>
	<body>
		<AutoLay>
		<section class="ƒ ƒ∑">
			{import.meta.env.DEV ?
				all_posts.map(post => (
					<Card {...post} client:visible/>
				))
			:
				<h1>Frontier@v2 Coming Soon!</h1>
			}
		</section>
		</AutoLay>
	</body>
</html>