---
import Counter from 'component:Counter';
import Head from 'layout:head';
import AutoLay from 'layout:default';
---

<html lang="en">
	<head>
		<Head title="Frontier | Home" description=""/>
	</head>
	<body>
		<AutoLay>
		{import.meta.env.DEV ? "Dev" : "There"}
			<Counter client:visible>
				<h1>Frontier@v2 Coming Soon!</h1>
			</Counter>
		</AutoLay>
	</body>
</html>