---
import Counter from '../components/Counter.svelte';
import Head from 'layout:head';
---

<html lang="en">
	<head>
		<Head title="Frontier | Home" description=""/>
	</head>
	<body>
	Hi
	{import.meta.env.DEV ? "DEV" : "PROD"}
        <Counter client:visible>
			<h1>Hello, Svelte!</h1>
		</Counter>
	</body>
</html>