---
import Head from 'layout:head';
import AutoLay from 'layout:default';

import Quote from 'component:quote';
import Card from 'component:card';
import Alert from 'ui:alert';

import {bojack} from '../data/quotes.js';

import {process} from 'lib';

const sorter = (a,b) => process.date.math(b.key) - process.date.math(a.key);

const all_posts = process.url(Astro.fetchContent('./**/*.md')).sort(sorter);
---

<html lang="en">
	<head>
		<Head title="Frontier | Home" description=""/>
		<style>
		</style>
	</head>
	<body>
		<AutoLay>
		<section class="ƒ ƒ∑ ∆-bw mx-a" style="max-width: 1200px;">
			<div class="w-100">
				<Alert level="5" text="I am currently on hiatus right now, blogs are being improved"/>
				<!-- <Alert level="1" text="This is still a work in progress!, I've just put it back up for my own convenience"/> -->
			</div>

			<div class="p5 m5" style="font-size: 2.5rem;">Frontier</div>

			<hr class="o-0 w-100" />

			<Card {...all_posts[0]} client:load/>
			<Card {...all_posts[1]} client:load/>
			<Quote data={bojack} client:load/>

			<div class="w-100 o-50 p20">
				<hr class="mx-a o-50" style="width:calc(75%)" />
			</div>

			{all_posts.slice(2).map((post, index) => (
				<Card {...post} client:visible />
			))}
		</section>
		</AutoLay>
	</body>
</html>