---
import Head from 'layout:head';
import AutoLay from 'layout:default';

import Card from 'component:card';

import {process} from 'lib';

const sorter = (a,b) => process.date.math(b.key) - process.date.math(a.key);

const all_posts = process.url(Astro.fetchContent('./**/*.md')).sort(sorter);
---

<html lang="en">
	<head>
		<Head title="Frontier | Home" description=""/>
	</head>
	<body>
		<AutoLay>
		<section class="ƒ ƒ∑ ∆-bw mx-a" style="max-width: 1200px;">
			<Card {...all_posts[0]} size="mx" client:load/>

			{import.meta.env.DEV ?
				all_posts.map(post => (
					<Card {...post} client:visible/>
				))
			:
				<h1>Frontier@v2 Coming Soon!</h1>
			}
		</section>
		</AutoLay>
	</body>
</html>