---
import Head from 'layout:head';
import AutoLay from 'layout:default';
---

<html lang="en">
	<head>
		<Head title="Frontier | Home" description=""/>
	</head>
	<body>
		<AutoLay>
            <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
            <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-wasm/dist/tf-backend-wasm.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/qna"> </script>
            <script type="module">
                const stripHtml=(doc)=>{
                    doc.querySelectorAll("h1, h2, h3, h4, table").forEach(h=>h.remove());

                    return doc.querySelector('article').textContent.trim();
                };

                const getPassage = async()=>{
                    const response = await fetch('/posts/econ');
                    const parser = new DOMParser();
                    const text = await response.text();

                    const doc = parser.parseFromString(text, "text/html");

                    console.log('FETCH OK');
                    return stripHtml(doc);
                };

                const passage = await getPassage();
                const question = "How did the soviet system work?";

                tf.wasm.setThreadsCount(4);
                const r = await tf.setBackend('wasm');
                if(r) console.log('WASM OK');

                const model = await qna.load();
                console.log('MODEL OK');

                model.findAnswers(question, passage).then(console.log);
            </script>
		</AutoLay>
	</body>
</html>