---
import Head from './head.astro';
import AutoLay from 'layout:default';
import Hero from 'component:hero';
import Speaker from 'component:addon/speaker';

const path = Astro.request.url.pathname.split('/').pop();
const { content } = Astro.props;
---
<html>
  <head>
    <Head title={content.title} description={content.description}/>
  </head>

  <body>
    <AutoLay>
      <article class="mx-a fw3">
        <Hero {path} client:only="svelte"/>
        <slot />
      </article>
      <!-- <Speaker client:only="svelte"/> -->
    </AutoLay>
  </body>
</html>